{{#foreach posts}}
<article>
  <header>
    <h2>{{title}}</h2>
  </header>
  <section>

    {{#has tag="#English"}}
    <p>{{excerpt words="26"}}</p>
    {{else}}
      {{#has tag="#日本語"}}
      <p>{{excerpt characters="55"}}</p>
      {{else}}
      <p>{{excerpt characters="11"}}</p>
      {{/has}}
    {{/has}}
    <!-- <p>{{excerpt characters="55"}}</p> -->
    <p>{{tags}}</p>
  </section>
</article>
{{/foreach}}
