<div class="container navbar-container"> <!-- navbar container -->
  <nav class="navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>
    </div>

    <ul class="nav navbar-nav">
      {{#foreach navigation}}
        <li class="nav-item nav-{{slug}}{{#if current}} active current-nav-item{{/if}}">
          <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
      {{/foreach}}
    </ul>
  </nav>
</div> <!-- navbar container -->
